/*
https://www.color-hex.com/color/00ffff

#00ffff Color Hex Cyan

*/

@media (max-width: 375px) {
    h1 {
      font-size: 24px;
    }
    a  {
      font-size: 14px;
    }
    div {
      font-size: 16px;
    }
	header {
		font-size: 12px;
		flex-direction: column;
	  }

  }
html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
header {
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
 
}
.contenedor{
	flex-direction: column;
	display: flex;
	width: 100vw;
	justify-content: center;
}
div{
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
		
}
div a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.68;
	color: #000;
	transition: 0.5s;	
}
body{ 	
	text-align: center;
	display: flex;
	flex-direction: column;	
	background-color: #1f4242;
}
.userInput {
	flex: 1;
	height: 32px;
	padding: 0 40px;
	background: #fff;
	bottom: 0;
	color: #000;
	font-size: 18px;
	border-radius: 25px;
  }
  
  .searchButton {
	width: 150px;
	height: 42px;
	padding: 10px;
	margin-left: 15px;
	background-color:  #00ffff;
	color: #000;
	border: 0;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
  }
  
.title {
	font-weight: 700;
	color:  #00ffff;
	
  }
  
  .card{
	justify-content: center;
	align-content: center;
	color: #444;
	background-color:  #00ffff;
	width: 260px;
	height: 110px;
	border-radius: 12px;
	border: solid 2px #444;
	margin: 10px auto;	
  	border: none;
	line-height: 1;  
}

.card:hover{
  background-color: #29d8d8;
  box-shadow: 3px 3px 15px   #3d8181;
  border: none;
}

.imagen {
	width: 20%;
	border-radius: 100%;
	display:block;
	margin:auto;
  } 
 
.imgerr {
	width: 250px; height: 250px;
	border-radius: 100%;
	display:block;
	margin:auto;
}  
 
.title {
	font-weight: 700;
	color:  #00ffff;
	
  }
.userInput {
	flex: 1;
	height: 32px;
	padding: 0 40px;
	background: #fff;
	bottom: 0;
	color: #000;
	font-size: 18px;
	border-radius: 25px;
  }
  
.searchButton {
	width: 150px;
	height: 42px;
	padding: 10px;
	margin-left: 15px;
	background-color:  #00ffff;
	color: #000;
	border: 0;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
  } 
  
.formContainer {
	margin: auto;
	text-align: center;
  } 

  
.centrado{	
	text-align:center;
	border:1px dotted #000;
	padding: 8px;
	color:#000000;
	font-size:13px;
	font-weight: 500;
	line-height:21px;	
}


.campo_polo{
	text-align: left;
	font-size:23px;
	padding: 6px;
	border: 5px solid #00ffff;
  	height: 100%;
  	width: 700px;
	
}

#main{	
	width: 700px; 	
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.peq{
	width: 230px; height: 45px;
	font-size: 40px;
	
  }

  .maspeq{
	width: 80px; height: 30px;
	font-size: 40px;
	
  }